name: CI Slides and Labs

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build-slides:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v5
        
      # Generate the pdfs for the slides and labs
      - name: Build slides to pdf
        run: |
          npx @marp-team/marp-cli@latest slides/*.md --pdf
          mv slides/*.pdf slides/deliverables/

      # Commit all changed files back to the repository
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Automated build of Marp slides to pdf
